dialog {
	max-width: 600px;
	max-height: 500px;
	min-width: 300px;

	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	margin: 0;
	border: none;
	outline: none;
	border-radius: 10px;
}

dialog::backdrop {
	background-color: rgba(0, 0, 0, 0.9);
}

.dialog__container {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
