:root {
	--primary-color: #000;

	--background: #e3e6ee;
	--text-color: black;
	--title-color: #e3e6ee;
	--card-title-color: #000;

	--accent-color: #ffd700;
	--card-color: #f7f7f7;

	--search-color: #fff;
}

.dark {
	--primary-color: #000000;
	--background: #1c1f26;
	--text-color: #d3d3d3;
	--title-color: #f0f0f0;
	--card-title-color: #f0f0f0;

	--accent-color: #ffd700;
	--card-color: #2c2f3a;
		--search-color: #000;
}
